@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using EntityLayer.Concrete
@model Portfolio

@*Form Validation işlemi çalışmadığı için hata alabilirsin name 3 karakterden fazla gir*@
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Lütfen Proje bilgilerini giriniz. </p>
            @using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
            {
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1">Proje Adı</label>
                        @Html.HiddenFor(x => x.PortfolioId)
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control",@placeholder=@Model.Name,@Type="text" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Resim Yolu (.jpg)</label>
                        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control",@placeholder=@Model.ImageUrl,@Type="text"})
                        @Html.ValidationMessageFor(x => x.ImageUrl)
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Küçük Resim Yolu (.png)</label>
                        @Html.TextBoxFor(x => x.SmallImageUrl, new { @class = "form-control",@placeholder=@Model.ImageUrl,@Type="text" })
                        @Html.ValidationMessageFor(x => x.SmallImageUrl)
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">URL</label>
                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control",@placeholder=@Model.SmallImageUrl,@Type="text" })
                        @Html.ValidationMessageFor(x => x.Url)
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Proje Güncelle</button>
                    <button class="btn btn-dark">Vazgeç</button>
                </form>
            }
        </div>
    </div>
</div>