@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using EntityLayer.Concrete
@model Experience

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Lütfen deneyim bilgilerini giriniz. </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Deneyim Adı</label>
                    <input class="form-control" value="@Model.ExperienceId" type="hidden" name="ExperienceId">
                    <input type="text" class="form-control" placeholder="@Model.Name" name="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Şirket Adı ve Tarih</label>
                    <input type="text" class="form-control" placeholder="@Model.Date" name="Date">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Resim Yolu (.svg)</label>
                    <input type="text" class="form-control" placeholder="@Model.ImageUrl" name="ImageUrl">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Açıklama</label>
                    <textarea class="form-control" rows="4" placeholder="@Model.Description" name="Description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Deneyim Güncelle</button>
                <button class="btn btn-dark">Vazgeç</button>
            </form>
        </div>
    </div>
</div>
