@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using EntityLayer.Concrete
@model About


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Karşılama ve isim soyisim</label>
                    <input class="form-control" value="@Model.AboutId" type="hidden" name="AboutId">
                    <input type="text" class="form-control" placeholder="@Model.Title" name="Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Hakkınızda kısa bilgi</label>
                    <input type="text" class="form-control" placeholder="@Model.Description" name="Description">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yaşınız</label>
                    <input type="text" class="form-control" placeholder="@Model.Age" name="Age">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">E-Posta</label>
                    <input type="text" class="form-control" placeholder="@Model.Mail" name="Mail">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Telefo Numarası</label>
                    <input type="text" class="form-control" placeholder="@Model.Phone" name="Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Adres</label>
                    <input type="text" class="form-control" placeholder="@Model.Address" name="Address">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Resim Yolu (.jpg)</label>
                    <input type="text" class="form-control" placeholder="@Model.ImageUrl" name="ImageUrl">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Hakkımda Güncelle</button>
                <button class="btn btn-dark">Vazgeç</button>
            </form>
        </div>
    </div>
</div>


